.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.dialog-content {
  display: flex;
  justify-content: center;
  max-height: unset;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  overflow: auto;
  border-top: 1px solid #000;
}
